/node_modules
client/Makefile
client/build/
client/package-lock.json
server/package-lock.json
server/node_modules/
server/Makefile
.idea/
.vscode/
package-lock.json

node_modules/
.env/
.env.dev/
dist/
build/
.DS_Store
.idea/
.vscode/
config/
package-lock.json
