@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/function";
@import "../abstracts/colors";

body, html {
  //overflow: hidden
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  & > * {
    color: black;
  }
  &.dark-mode {
    &::-webkit-scrollbar {
      width: .5em;
      background-color: $bg-color--dark;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $def-pri;
    }
    & > * {
      color: white;
    }
    background-color: $bg-color--dark;
  }
  #root {
    &:hover {
      nav {
        @include after-overlay(1dp);
      }
    }
  }
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-container {
      max-width: px-to-em(960px);
      width: 100%;
    }
  }

}
.pages-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.pages-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

//.pages-exit {
//  opacity: 1;
//  transform: translateX(-100%);
//}
//
//.page-exit-active {
//  opacity: 0;
//  transform: translateX(100%);
//  transition: opacity 500ms, transform 500ms;
//}

/////////////////////////////////////////