@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/breackpoints" as *;
@use "../abstracts/function" as *;



.hamburger-container {
  display: flex;
  justify-content: center;

  .hamburger {
    width: px-to-em(40px);
    // width: px-to-em(40px);
    // height: px-to-em(40px);
    @include mixins.flexCenter;

    position: relative;
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    @include breakpoint--small {
      width: px-to-em(40px);
      // width: 52px;
      height: 52px;
    }

    &.hamburger--open {
      padding: 0;
    }

    // &:hover,
    // &.hamburger--close {
    // 	background-color: rgba(variables.$def-pri, 0.2);
    // }

    .hamburger__line {
      position: relative;
      display: block;

      width: 20px;
      height: 2px;
      background-color: variables.$def-pri;

      transition: background-color 0.25s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;

        width: 20px;
        height: 2px;
        background-color: variables.$def-pri;

        transition:
          transform 0.25s ease,
          top 0.25s ease,
          bottom 0.25s ease;
      }

      &::before {
        bottom: 6px;
      }

      &::after {
        top: 6px;
      }
    }

    &.hamburger--close {
      .hamburger__line {
        background-color: transparent;


        &::before {
          width: 24px;
          bottom: 0;
          transform: rotate(45deg);
        }

        &::after {
          width: 24px;

          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}