@use "../abstracts/variables";
@use "../abstracts/mixins";

.hamburger {
  width: 36px;
  height: 36px;
  @include mixins.flexCenter;
  border-radius: 50%;
  position: relative;

  &:hover,
  &.active {
        background-color:  rgba(variables.$def-pri, 0.2);
  }

  .hamburger__line {
     &, &:before, &::after {
       content: '';
       height: 2px;
       width: 20px;
       background-color: variables.$def-pri;
     }

     &::before,
     &::after {
       position: absolute;
       transition: 0.25s all ease;
     }
   }

  &--open {
    .hamburger__line {
      &::before {
        bottom: calc(100% / 4);
      }

      &::after {
        top: calc(100% / 4);;
      }
    }
  }

  &--close {
    .hamburger__line {
      &:nth-child(1) {
        background-color: transparent;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

