@use "../abstracts/variables" as *;
@use "../abstracts/function" as *;
@use "../abstracts/breackpoints" as *;


.navbar {
	position: relative;
	isolation: isolate;
	// width: 100%;

	@include breakpoint--small {
		// padding: 0 px-to-em(12px) 0 px-to-em(12px);
	}

	.nav-body {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 2;
		padding: 0 px-to-em(6px);
		
		& .logo {
			text-decoration: none;
			color: #6002ed;
			text-decoration: none;
			color: #6002ed;
			cursor: pointer;

			@include breakpoint--small {
				width: fit-content;
				height: 52px;
			}
		}



		.navbar-link {
			height: 36px;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 20px;

			&:focus-visible {
				outline: none !important;
				// outline: 2px solid $def-pri;
				// outline-offset: 3px;
				// border-radius: 4px;
			}
		}
	}
}