@use "../abstracts/variables" as *;
@use "../abstracts/function" as *;
@use "../abstracts/breackpoints" as *;


.navbar {
	position: relative;
	isolation: isolate;
	width: 100%;
	
	@include breakpoint--small {
		// padding: 0 px-to-em(12px) 0 px-to-em(12px);
	}

	.nav-body {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 2;


		
		.navbar-link {
			display: flex;
			justify-content: center;
			// width: 80px;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 20px;
		}
	}
}