@import "../abstracts/variables";
@import "../abstracts/function";

.navbar {
	position: relative;
	width: 100%;
	padding: 0 px-to-em(12px) 0 px-to-em(12px);

	.nav-body {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.navbar-link {
			display: flex;
			justify-content: center;
			width: 80px;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 20px;
		}
	}
}