@import "../abstracts/mixins";
.launch-enter {
  opacity: 0;
  background-color: green;
}

.launch-enter-active {
  opacity: 1;
  transform: translateX(200%);
  transition: opacity 500ms, transform 500ms;
}

.launch-exit {
  opacity: 1;
  background-color: blue;
}

.launch-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

////////////////////////////////////////////////////////////

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}