@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/breackpoints" as *;
@use "../abstracts/function" as *;


.showUp-enter,
.showDown-enter {
  opacity: 0;
}

.showUp-enter-active,
.showDown-enter-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.showUp-exit,
.showDown-exit {
  opacity: 1;
}

.showUp-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.showDown-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.show-enter {
  opacity: 0;
}

.show-enter-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.show-exit {
  opacity: 1;
}

.show-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

$icon-wh: 36px;

.sideBar {
  width: 46px;
  border-radius: .3em 0 0 .3em;
  z-index: 5;
  position: absolute;
  right: 0;
  // margin-right: px-to-em(-12px);
  top: calc((100vh - 6 * 36px) / 2);
  z-index: 10;
  transition: .5s all ease-in;


  &:hover {
    ul {
      @include after-overlay(24dp);
    }
  }

  &:not(:hover) {
    ul {
      @include after-overlay(1dp);
    }
  }

  ul {
    width: 100%;
    padding: px-to-em(8px) 0;
    display: flex;
    flex-direction: column;
    gap: px-to-em(6px);
    position: relative;
    transition: all .5s ease;

    li {
      width: 100%;
      height: px-to-em(36px);
      @include flexCenter;
      color: white;
    }
  }

  .side__link {
    height: px-to-em(32px);
    width: px-to-em(32px);
    // width: 40px;
    color: $def-pri;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    @include flexCenter;
    position: relative;

    &:hover,
    &.active {
      background-color: rgba($def-pri, 0.3);
    }
  }

  @include breakpoint--small {
    width: px-to-em(42px);

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      li {
        width: 100%;
      }
    }

    @include breakpoint--small {
      width: px-to-em(42px);

      .side__link {

        &::before,
        &::after {
          $scale: 0;

          color: transparent;
          position: absolute;
          z-index: 1000;
          transform: scale($scale);
          transition: .2s transform;
        }

        &::before {
          content: attr(title);
          width: max-content;
          right: px-to-em(60px);
          transform-origin: right;
          padding: px-to-em(8px);
          border-radius: px-to-em(2px);
          font-size: .7em;
        }

        &::after {
          content: '';
          left: px-to-em(-10px);
          border: px-to-em(10px) solid transparent;
          transform-origin: left;
        }

        &:hover {
          $scale: 1;

          &::before,
          &::after {
            transform: scale($scale);
          }

          &::before {
            color: white;
            background-color: $def-pri;
          }

          &::after {
            border: px-to-em(7px) solid transparent;
            border-left-color: $def-pri;
          }
        }
      }
    }
  }
}