@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
.switch {
  // margin: auto 0;
  // padding: 0;
  .switch__con {
    width: 36px;
    height: 12px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
	position: relative;

	.icon {
		width: 10px;
		height: 10px;
		border: .5px solid rgba(0,0,0,0.1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 2px 0 2üx;
		font-size: 10px;
		margin: 0 2px;
		position: absolute;
		transition: left 1s easy;
		&.dark {
			color: blueviolet;
			left: 0;
		}
		&:not(.dark) {
			right: 0;
		}
	}
  }
}