@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/utils";
.switch {
  // margin: auto 0;
  // padding: 0;
  .switch__con {
    width: 36px;
    height: 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: rgba(0,0,0,0.5);

    .switch__round {
      //@include width-and-height(8px);
      width: 8px;
      height: 8px;
      background-color: $def-pri;
      border-radius: 50%;
      position: absolute;
      margin: 0 2px;
      right: 0;
    }
  }
}
.p-left {
  left: 0;
}