@import "../abstracts/variables";

$base-font: 1.8em;
h1 {
  font-size: $base-font;
}

h2 {
  font-size: $base-font;
}

h3 {
  font-size: 1.2em;
}

.subtitle {
  font-size: .87em;
}
.home p {
  font-size: $base-font;
}
