@import "../abstracts/variables";
@import "../abstracts/function";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";


$lines-color: rgba($def-pri, .87);
#about {
  //background-color: #7b0188;
  //padding-bottom: 5em;
  padding: calc(60px + 2em) 0 0 px-to-em(18px);

  h3 {
    padding: .6em 0 .1em 0;
    border-bottom: 2px solid $def-pri;
  }

  #education {
    .body {
      margin: {
        //left: px-to-em(20px);
        top: 1em
      }
      ////////////////////////////////////////////////////////
      position: relative;

      &::before {
        content: "";
        width: .1em;
        height: calc(100% - 4.5ch);
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 1.3ch;
        background-color: $def-pri;
      }

      ///////////////////////////////////////////////////////////
      section {
        span {
          display: block;
          position: relative;
        }

        margin-top: 1em;

        .subtitle {
          display: flex;

          .from {
            position: relative;
            width: 13ch;
            //text-align: right;
            margin-right: 9ch;
            margin-left: 5ch;
            //background-color: #7b0188;


            &::before {
              content: "";
              height: 0.2em;
              width: 3ch;
              position: absolute;
              left: -5ch;
              top: 50%;
              background-color: $def-pri;
              padding: 0 1em 0 0;
            }

          }

          .to {
            position: relative;
            text-align: left;
            //background-color: #FF9500;

            &::before {
              content: "";
              height: 0.2em;
              width: 3ch;
              position: absolute;
              left: -6ch;
              top: 50%;
              background-color: $def-pri;
              padding: 0 1em 0 0;
            }
          }

        }

        p {
          font-size: 1em;
          //font-family: Arial sans-serif;
          letter-spacing: 1px;
          padding: {
            left: 5ch;
            top: .2em
          }
        }
      }
    }
  }

  #skills {
    .body {
      padding-top: 2em;
      position: relative;

      &::before {
        content: "";
        width: .1em;
        height: 10ch;
        position: absolute;
        top: calc(2em + 1.3ch);
        background-color: $def-pri;
        @include breakpoint--small {
          height: 10ch;
        }
      }

      .subtitle {
        background-color: #605EFF;
        width: 30ch;
        font-size: 1em;
        position: relative;
        //text-align: right;
        margin-left: 4.5ch;

        &::before {
          content: "";
          height: 0.2em;
          width: 3ch;
          position: absolute;
          left: -4.5ch;
          top: 50%;
          background-color: $def-pri;
          padding: 0 1em 0 0;
        }

      }

      .languages {
        ul {
          padding-left: 5ch;
        }
        margin-bottom: 1em;
      }

      .tech-skills {
        section {
          margin-bottom: 1em;
        }
        h6, ul {
          margin-left: 6ch;
        }

        ul {
          li {
            display: flex;
            flex-direction: column;
            //position: relative;
            //& > * {
            //  position: absolute;
            //  z-index: -1;
            //}
            p {
              padding: .5em 1em;
              display: none;
              transition: display 1s ease-in;
            }
            &.active {
              .arrow {
                transform: rotate(90deg);
              }
              p {
                display: block;
              }
            }
          }
        }

        .software-skills {
          padding: 0 .5em 0 .5em;
          .header {
            margin: 0;
            padding: .5em 1em;
            display: flex;
            justify-content: space-between;
            border: .1em solid $def-pri;
          }

          .language {
            //padding: .5em ;
            //background-color: red;
          }

          .description {
            letter-spacing: 1px;
          }

          .arrow {
            color: $def-pri;
            cursor: none;
          }
        }
      }
    }
  }

  //  .section {
  //
  //    &-header {
  //      border-bottom: 2px solid $def-pri;
  //    }
  //  }
  //}
  //background-color: $def-pri;
  //height: calc(100% - 65px);
  //font-family: 'Quicksand', sans-serif;
  //.text__container {
  //  width: 600px;
  //  padding: 0 15px;
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: center;
  //  h1 {
  //    font-family: 'Open Sans', sans-serif;
  //    color: #222;
  //    font-size: 50px;
  //    letter-spacing: 3px;
  //    text-transform: uppercase;
  //    margin-bottom: 1rem;
  //  }
  //
  //  p {
  //    display: block;
  //    text-align: center;
  //    margin-bottom: 2rem;
  //  }
  //
  //  .Link {
  //    color: white;
  //    width: 150px;
  //    height: 50px;
  //    border-radius: 5px;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    text-decoration: none;
  //    background-color: lightgreen;
  //  }
  //}
}