@import "../abstracts/mixins";
@import "../abstracts/function";

#barChart {
  font-family: 'Poppins', sans-serif;
  color: white;
  max-width: 100%;
  width: 100%;
	padding-top: px-to-em(60px);

  .body {
    #header {
      font-weight: 600;
      fill: $def-pri;
    }
  }

}