@import "../abstracts/mixins";
@import "../abstracts/function";

.bar {
  background-color: red;
}

#barChart {
  font-family: 'Poppins', sans-serif;
  color: white;
  max-width: 100%;
  // width: 100vw;
  // height: 100vh;
  padding-top: px-to-em(160px);
  background-color: #282c34;

  .body {
    #header {
      font-weight: 600;
      fill: $def-pri;
    }
  }

}