@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/utils";

#calculator {
	font-family: 'Poppins', sans-serif;
	margin-top: 80px;
	#board {
		background-color: #1C1C1C;
		width: 320px;
		border-radius: 10px;
		color: white;

		#screen {
			.display {
				height: 40px;
				width: 100%;
				font-size: 30px;
				text-align: right;
				padding: 1em !important;
			}
		}
		#main-board {
			padding: 10px;
			.row {
				margin-top: 10px;
				display: flex;
				justify-content: space-between;

				.btn {
					cursor: pointer;
				}

				.btn-wide {
					background-color: red;
					width: 135px;
					height: 60px;
					border-radius: 2rem;
					color: white;
					border: none;
				}
			}

			#clear, #zero {
				width: 135px;
				height: 60px;
				border-radius: 2rem;
				color: white;
				border: none;
			}
			#clear {
				background-color: #D4D4D2;
				color: black;
			}
			#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
				background-color: #505050;
				color: white;
				border: none;
			}
			#equals, #subtract, #divide, #multiply, #add {
				background-color: #FF9500;
				color: white;
				border: none;
			}
			.btn-circle {
				height: 60px;
				width: 60px;
				border-radius: 50%;
			}
		}
	}
}




