@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/function";

#contact {
  padding: px-to-em(100px) 0 0 px-to-em(20px);
  min-height: 100vh;
  textarea {
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: .5em .5em 0 .5em;
    margin-bottom: .5em;
    font-size: 1.3em;
    border-left: .1em solid $def-pri;
  }

  button {
    border: none;
    padding: .5em 1em;
    color: $def-pri;
  }
}