@use "../abstracts/breackpoints" as *;
@use "../abstracts/function" as *;
@use "../abstracts/variables" as *;

#home {
  .home-header {
    display: flex;
    justify-content: center;

    .image {
      background-size: cover;
      background-image: url("/home-img.png");
      background-position: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
      width: 15em;
      height: 15em;
      border-radius: 50%;
    }
  }

  .home-body {
	text-align: center;
	font-size: 1.5em;
	padding: 0 px-to-em(12px) 0 px-to-em(12px);

	@include breakpoint--small {
	  padding: 2em;
	}
  
	p:first-of-type::before {
	  content: "👋";
	}
	a {
	  text-decoration: none;
	  color: inherit;
	}
  
	p {
	  padding-top: 1em;
	  line-height: 1.3em;
  
	  strong {
		font-family: "nunito", sans-serif;
	  }
	}
	.p-link {
	   border-radius: px-to-em(3px);
	   padding: .001em .3em;
	   border: 1px solid $def-pri;
	   transition: all .1s ease-in-out;
  
	   &:hover {
		 color: white;
		 background-color: $def-pri;
	   }
	 }
  
  }
}
