@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/function";


.home {
  padding: calc(60px + 2em) 0 0 px-to-em(18px);
  //opacity: 0;
  //transform: translateX(100%);
  //background-color:#FF9500 ;
  //height: max-content;
  //overflow: hidden;
  .header {
    //width: 100%;
    display: flex;
    justify-content: center;

    .image {
      background-size: cover;
      background-image: url("../../images/image1.jpg");
      background-position: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
      width: 15em;
      height: 15em;
      border-radius: 50%;
    }
  }
}

////////////////////////////////////////////////////////////////////
.home-body {
  text-align: center;
  @include breakpoint--small {
    padding: px-to-em(80px);
  }

  p:first-of-type::before {
    content: "👋";
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    padding-top: 1em;

    strong {
      font-family: "nunito", sans-serif;
    }
  }

  .p-link {
    border-radius: px-to-em(3px);
    font-size: .8em;
    border: .1em solid $def-pri;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $def-pri;
    }
  }
}

