@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/function";
@import "../abstracts/colors";

#sign {
  background-color: #282c34;
  height: 100%;
  padding: 0 px-to-em(18px);
  @include center-horizontally();
  display: flex;
  justify-content: center;
  @include breakpoint--small {
    max-width: px-to-em(960px);
    .message {
      font-size: 1.2em;
    }
  }

  .message {
    font-size: 1em;
  }

  h3 {
    text-align: center;
    color: gray;
  }

  .header {
    margin-bottom: 1em;
    section {
      display: flex;
      justify-content: center;
    }

    .mode {
      padding: .2em .3em;
      width: max-content;
      border-bottom: .1em solid $def-pri;
    }
  }

  .switch {
    padding: .2em .3em;
    width: max-content;
    cursor: pointer;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: .1em solid getPriVariant(700);
    padding: 1em.5em;
    //position: relative;

    section {
      margin-bottom: 1em;
    }

    section[role="submit"] {
      color: white;
      display: flex;
      justify-content: center;
      .submit-btn {
        cursor: pointer;
        padding: .2em;
        border: .1em solid gray;
        color: $def-pri;
      }
    }

    &.signUp {
      @include after-overlay(24 dp);
    }
    @include breakpoint--small {
      max-width: px-to-em(960px);
    }
  }

  form {
  }

  section {
    display: flex;
    @include breakpoint--small {
      justify-content: center;
    }
  }

  label {
    @include flexCenter;
    width: 40px;
    color: rgba($def-pri, .87);
    margin-right: 1em;
    border-radius: 3px;
    border: .1em solid $def-pri;
  }

  input {
    background: transparent;
    display: block;
    padding: .25rem 1rem;
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;

    &:focus {
      color: $def-pri;
      border-bottom: 2px solid $def-pri;
    }
  }
}