@use "about";
@use "calculator";
@use "home";
@use "randomQuote";
@use "work";
@use "log";
@use "contact";
@use "message";
@use "timer";
@use "timestamp";
@use "admin";
@use "markdownPreviewer";
@use "project";
@use "dataviz";
@use "headerParser";
@use "urlShortener";
@use "fileMetadata";
@use "exerciseTracker";
@use "todoManager";
