@import "../abstracts/function";
@import "../abstracts/variables";

.project {
	height: 100%;
	padding: 0 px-to-em(12px);
}

.home-btn {
	height: 4ch;
}

.backHome-btn {
	padding: .5em;
	color: inherit;
	border: 1px solid $def-pri;
	border-radius: 6px;
	cursor: pointer;
}