@use "../abstracts/variables" as *;
@use "../abstracts/function" as *;
@use "../abstracts/breackpoints" as *;

.project-heading {
	padding: px-to-em(6px);
}

.home-btn {
	height: 4ch;
	min-height: fit-content;
	display: flex;
	padding: 0 px-to-em(6px);
	margin-bottom: px-to-em(20px);
}

.backHome-btn {
	padding: .5em;
	color: inherit;
	border: 1px solid $def-pri;
	border-radius: 6px;
	cursor: pointer;
}