@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/utils";
#scatterPlot {
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  padding-top: px-to-em(80px);
  background-color: #282c34;
  #title {
    font-weight: 600;
    fill: $def-pri;
  }

}