@import "../abstracts/mixins";
@import "../abstracts/function";

#timestamp {
  font-family: sans-serif;
  padding: px-to-em(40px) px-to-em(23px) 0 px-to-em(23px);
  height: 100vh;

  h3 {
    margin-bottom: .5em;
  }

  #request, #response {
    margin-bottom: 1em;
  }

  .text-area {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    display: flex;
    align-items: center;
    width: 80%;
    height: 3ch;
    padding: .5ch;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .text-area:focus {
    outline: none !important;
    border:1px solid $def-sec;
    box-shadow: 0 0 2px $def-sec;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .form {
    display: flex;
    align-items: center;
  }

  #request {
    display: flex;
    align-items: center;
  }

  .submit {
    font-family: fontawesome;
    color: $def-sec;
    height: 100%;
    margin-left: .5em;
    width: 50px;
    cursor: pointer;
  }
}