@use "../abstracts/colors" as color ;
@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/utils";
@import "../abstracts/colors";
///////////////////////////////////////////////////////////////////////
#work {
  position: relative;
  h2 {
    margin-bottom: 2em;
  }
  .page-container {
    min-height: 100vh;
    @include breakpoint--small {
      padding: calc(60px + 2em) 0 0 px-to-em(18px);
    }
  }

  .work-home {
    padding: calc(60px + 2em) 0 0 px-to-em(18px);
  }

  .backHome-btn {
    @include flexCenter;
    background-color: $def-pri;
    position: absolute;
    color: white;
    padding: .5em;
    right: 0;
    top: px-to-em(60px);
  }

  .work-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;

    .button {
      width: 40px;
      height: 30px;
      position: absolute;
      @include flexCenter;
      top: calc(.5em + 60px);
      right: px-to-em(20px);
      border-radius: 6px;

      //border: .1em solid white;
      background-color: $def-pri;
      font-size: 1em;
      color: white;
      cursor: pointer;
      @include breakpoint--small {
        display: none;
      }

      &:hover {
        //color: $def-pri;
        //background-color: rgba($def-pri, .8);
      }
    }
  }
}


////////////////////////////////////////////////////////////////////
.launch-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.launch-enter-active {
  background-color: red;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.launch-exit {
  opacity: 1;
}

.launch-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
.work-list {
  @include breakpoint--small {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    .project-card {
      margin-right: .5em;
    }
  }

  li {
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    border: {
      bottom: .1em solid $def-pri;
      left: .1em solid $def-pri
    };

    .title {
      min-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;

    }

    .item-link {
      min-width: 30%;
      position: relative;
      .work-link {
        border-radius: px-to-em(3px);
        color: white;
        background-color: $def-pri;
        position: absolute;
        bottom: .25em;
        margin-left: 1em;
        padding: .5em;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
}
//.launch-enter {
//  opacity: 0;
//  transform: translateX(-50%);
//}
//
//.launch-enter-active {
//  background-color: red;
//  opacity: 1;
//  transform: translateX(0);
//  transition: opacity 1000ms, transform 1000ms;
//}
//
//.launch-exit {
//  opacity: 1;
//}
//
//.launch-exit-active {
//  opacity: 0;
//  transform: translateX(100%);
//  transition: opacity 500ms, transform 500ms;
//}