@use "../abstracts/colors" as color ;
@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breackpoints";
@import "../abstracts/mixins";
@import "../abstracts/utils";
@import "../abstracts/colors";
///////////////////////////////////////////////////////////////////////
#work {
  position: relative;

  h2 {
    margin-bottom: px-to-em(5px);
  }
  .page-container {
    min-height: 100vh;
    padding: px-to-em(40px) 0 0 px-to-em(23px);
  }

  .backHome-btn {
    @include flexCenter;
    background-color: $def-pri;
    position: absolute;
    color: white;
    padding: .5em;
    right: 0;
    top: px-to-em(60px);
  }

  .work-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: red;

    .button {
      width: 40px;
      height: 30px;
      position: absolute;
      @include flexCenter;
      top: calc(.5em + 60px);
      right: px-to-em(20px);
      border-radius: 6px;

      //border: .1em solid white;
      background-color: $def-pri;
      font-size: 1em;
      color: white;
      cursor: pointer;
      @include breakpoint--small {
        display: none;
      }

      &:hover {
        //color: $def-pri;
        //background-color: rgba($def-pri, .8);
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////
.filters {
  // background-color: red;
  margin-bottom: px-to-em(20px);
  & > * {
    margin-bottom: 1em;
  }
  &.close {
    transform: scale(0);
  }
  ul {
    width: 100%;
  }
  #categorie {
    .close {
      // transform: scale(0);
    }
    .filterList {
      // background-color: red;
      &.close {
        // background-color: aqua;
        // transform: scale(0);
      }
      & ,ul {
        font-size: .7em;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(7em,1fr));
        .active {
          color: white;
          background-color: $def-pri;
      }
      li {
        display: flex;
        border-radius: .4em;
        border: .1em solid $def-pri;
        padding: .3em;
        margin: .2em;
      }
    }
  }
}

  #techStack {
    // background-color: yellow;
    ul {
      font-size: .7em;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(7em,1fr));
      // display: grid;
      // background-color: green;
      .active {
          color: white;
          background-color: $def-pri;
        }
      li {
        display: flex;
        border-radius: .4em;
        border: .1em solid $def-pri;
        padding: .3em;
        margin: .2em;
        cursor: pointer;
       
      }
    }
  }
}


////////////////////////////////////////////////////////////////////
.launch-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.launch-enter-active {
  background-color: red;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.launch-exit {
  opacity: 1;
}

.launch-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
.work-list {
  @include breakpoint--small {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    .project-card {
      margin-right: .5em;
    }
  }

  li {
    // margin: 1em 1em 0 1em;
    margin: 0 1em 1em 0;
    // padding: 1em 0 0 1em;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    border: {
      bottom: .1em solid $def-pri;
      left: .1em solid $def-pri
    };

    .title {
      min-width: 70%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      font-size: 1.5em;
      margin-bottom: .2em;
      // background-color: red;

    }

    .techList {
      height: 100%;
      display: flex;
      font-size: 1em;
      // background-color: brown;

      span {
        font-size: .7em;
        // margin:  .2em;
        // border: 1px solid green;
      }
    }

    .item-link {
      width: 30%;
      max-width: 30%;
      margin-bottom: .2em;
      display: flex;
      justify-content: center;
      align-items: center;
      .work-link {
        // background-color: red;
        border-radius: px-to-em(3px);
        color: white;
        background-color: $def-pri;
    //     position: absolute;
    //     bottom: .25em;
    //     margin-left: 1em;
        padding: .5em;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
}
