/*
  Animation for the first line from the top
 */
 .pages-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.pages-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
/////////////////////////////////////////////////////////////////////////////
.edit-enter {
  opacity: 0;
  transform: scale(0);
}

.edit-enter-active {
  opacity: 1;
  transform-origin: top center;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.edit-exit {
  opacity: 1;
  transform: scale(1);
}

.edit-exit-active {
  opacity: 0;
  transform: scale(0);
  transform-origin: top center;
  transition: opacity 500ms, transform 500ms;
}

// .fade-enter {
//   opacity: 1;
//   // transition: opacity 2s;
// }

// .fade-enter-active {
//   opacity: 0;
//   // transition: opacity 2s;
// }

// .fade-exit {
//   opacity: 0;
//   transition: opacity 2s;
// }

// .fade-exit-active {
//   opacity: 1;
// }

// @keyframes fade {
//   from {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }



