/*
  Animation for the first line from the top
 */
 .pages-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.pages-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
/////////////////////////////////////////////////////////////////////////////
.edit-enter {
  opacity: 0;
  transform: scale(0);
}

.edit-enter-active {
  opacity: 1;
  transform-origin: top center;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.edit-exit {
  opacity: 1;
  transform: scale(1);
}

.edit-exit-active {
  opacity: 0;
  transform: scale(0);
  transform-origin: top center;
  transition: opacity 500ms, transform 500ms;

}



