@use "../abstracts/mixins";

html {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, 
p, 
a, 
ul, 
li,
h3,
h2,
h1 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// #app {
//   &:hover {
//     nav {
//       @include mixins.after-overlay(1dp);
//     }
//   }
// }






